body {
   background: linear-gradient(to bottom, #ff0000 0%, #800000 100%);
   background-repeat: no-repeat;

}

.row{
    margin-bottom: 5em;
}
span#scoreBoard {
    border-radius: 1em;
    font-size: 1em;
    padding: 1em;
    margin:2em;
    border-color: black;
}
span#timer {
    border-radius: 1em;
    font-size: 1em;
    padding: 1em;
    margin:2em;
    border-color: black;
}

#cardData{
    visibility: hidden;
}

div#publisher {
    visibility: hidden;
}

button#publishers {
    background-color: transparent;
    border: none;

}
img {
    height: 5em;
}

#hero{
    position:relative;
    height:30em;
    width:30em;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    padding:2em;
    float:left;
    }

.btn-primary {
    background-color: transparent;
    border-color: transparent;
}
.scoreBoard{
    background-color: white;
    background-size: contain;
    padding: 2em;
}


.modal-content {
    background-color: blue;
    text-align: center;
    padding:1em;
    font-weight: 400;
}

.modal-body{
    margin: 1em;
    background-color:cornflowerblue;
    border: black;
    text-align: center;

}