body {
   background: linear-gradient(to bottom, #ff0000 0%, #800000 100%);
   background-repeat: no-repeat;
   margin:2em;
}

span#scoreBoard {
    border-radius: 1em;
    font-size: 1em;
    padding: 1em;
    margin:5em;
    border-color: black;
}
span#timer {
    border-radius: 1em;
    font-size: 1em;
    padding: 1em;
    margin:5em;
    border-color: black;
}

#cardData{
    visibility: hidden;
}

div#publisher {
    visibility: hidden;
}

button#publishers {
    background-color: transparent;
    border: none;
    width: auto;
}
img {
    height: 8em;
}

.hero-img{
    height: 25em;
    width:auto;
    }

p.card-text {
    text-align: center;
}

.btn-primary {
    background-color: transparent;
    border-color: transparent;
}
.scoreBoard{
    background-color: white;
    background-size: contain;
    padding: 2em;
}


.modal-content {
    background-color: blue;
    text-align: center;
    padding:1em;
    font-weight: 400;
}

.modal-body{
    margin: 1em;
    background-color:cornflowerblue;
    border: black;
    text-align: center;

}